   
             
                <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
                <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
                <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  
                
                <app-header></app-header>

<carousel>
    <slide>
      <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;height:600px">
    </slide>
    <slide>
      <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;height:600px">
    </slide>
    <slide>
      <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;height:600px">
    </slide> 
  </carousel> 





<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="flight-engine">
               <div class="container">
                  <div class="tabing">
                     <ul>
                        <li><a class="active" href="#1"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                        </li>
                         <li><a  href="#2"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                        </li>
                     </ul>
                     <!-- <div class="tab-content"> -->
                        <div id="1" class="tab1 active">
                           <div class="flight-tab row">
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From City or airport">
                              </div>
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport">
                              </div>
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="date" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
                              </div>
                             <!--  <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="date" name="dep" class="textboxstyle" id="to-date" placeholder="Return">
                              </div> -->
                              <div class="persent-one less-per">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                  <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="No.of Passenger">
                               </div>
                              <div class="persent-one less-btn">
                                 <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                              </div>
                           </div>
                         
                        </div>
                       
                         <div id="2" class="tab1">
                           <div class="flight-tab row">
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From City or airport">
                              </div>
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport">
                              </div>
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="date" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
                              </div>
                             <!--  <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="date" name="dep" class="textboxstyle" id="to-date" placeholder="Returrn">
                              </div> -->
                              <div class="persent-one less-per">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                  <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="No.of Passenger">
                               </div>
                              <div class="persent-one less-btn">
                                 <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                              </div>
                           </div>
                         
                        </div>
                        
                     </div>
                     </div>
                   
                  </div>
             

                <!------ Include the above in your HEAD tag ---------->
                
               <div class="container">
                  <div class="row">
                    <ul class="thumbnails">
                            <li class="span2">
                              <div class="thumbnail">
                                <img src="assets/images/a1.jpg" alt="ALT NAME"  style="display: block; width: 100%; height:80px">
                                <div class="caption">
                                  <h4>Cochin Flights</h4>
                                  <p>Bengaluru - Cochin<br> Rs.2500</p>
                                  <p align="center"><a href="#" class="btn btn-primary btn-block">Open</a></p>
                                </div>
                              </div>
                            </li>
                              <li class="span2">
                              <div class="thumbnail">
                                <img src="assets/images/a2.jpg" alt="ALT NAME">
                                <div class="caption">
                                  <h4>Hubli Flights</h4>
                                  <p>Bengaluru - Hubli <br> Rs.1200</p>
                                  <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                </div>
                              </div>
                            </li>
                              <li class="span2">
                              <div class="thumbnail">
                                <img src="assets/images/a3.jpg" alt="ALT NAME" >
                                <div class="caption">
                                  <h4>Pune Flights</h4>
                                  <p>Bengaluru - Pune <br> Rs.1700</p>
                                  <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                </div>
                              </div>
                            </li>
                            <li class="span2">
                              <div class="thumbnail">
                                <img src="assets/images/a4.jpg" alt="ALT NAME">
                                <div class="caption">
                                  <h4>Mumbai Flights</h4>
                                  <p>Bengaluru - Mumbai <br> Rs.2000</p>
                                  <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                </div>
                              </div>
                            </li>
                              <li class="span2">
                                <div class="thumbnail">
                                  <img src="assets/images/a5.jpg" alt="ALT NAME">
                                  <div class="caption">
                                    <h4>Chennai Flights</h4>
                                  <p>Bengaluru - Chennai <br> Rs.1500</p>
                                    <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                  </div>
                                </div>
                              </li>
                              <li class="span2">
                                <div class="thumbnail">
                                  <img src="assets/images/a6.jpg" alt="ALT NAME">
                                  <div class="caption">
                                    <h4>Dehli Flights</h4>
                                  <p>Bengaluru - Dehli <br> Rs.2400</p>
                                    <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                  </div>
                                </div>
                              </li>
                              <!-- <li class="span2">
                                  <div class="thumbnail">
                                    <img src="assets/images/a7.jpg" alt="ALT NAME">
                                    <div class="caption">
                                      <h4>Hydrabad Flights</h4>
                                  <p>Bengaluru - Hydrabad <br> Rs.1500</p>
                                      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                    </div>
                                  </div>
                                </li>
                                <li class="span2">
                                    <div class="thumbnail">
                                      <img src="assets/images/a8.jpg" alt="ALT NAME">
                                      <div class="caption">
                                        <h4>Goa Flights</h4>
                                  <p>Bengaluru - Goa <br> Rs.1500</p>
                                        <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                      </div>
                                    </div>
                                  </li>
                                  
                                    
                                      <li class="span2">
                                            <div class="thumbnail">
                                              <img src="assets/images/a9.jpg" alt="ALT NAME">
                                              <div class="caption">
                                                <h4>Hubli Flights</h4>
                                  <p>Bengaluru - Hubli <br> Rs.1200</p>
                                                <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                              </div>
                                            </div>
                                          </li>  -->
                                        
                        </ul>
                  </div>
                </div>

                <app-footer></app-footer>  







